.navbar {
        width: 90%;
        height: 2.5em;
        position: fixed;
        display: flex;
        justify-content: space-between;
        margin: 1em;
        padding: 12px 20px;
        align-items: center;
        background-color: var(--medium);
        border-radius: 2em;
        box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
}

.logo {
        font-family: GeneralSans-Bold, sans-serif;
        color: var(--light);
        font-size: 1.5rem;
}

.links {
        display: flex;
        align-items: center;
}

.links a {
        font-family: GeneralSans-Bold, sans-serif;
        margin-left: 15px;
        text-decoration: none;
        color: var(--light);
}

