html{
        height: 100dvh;    /* Set the root to full viewport height */
        height: 100vh;     /* Fallback for browsers that do not support dvh */
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: var(--light);
        scroll-behavior: auto;
}

body, #root {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: var(--light);
        scroll-behavior: auto;
}
      
/*************************************COLOR THEME************************************************************/
:root{
        --dark: #01161e;
        --medium: #124559;
        --light: #eff6e0;
        --blue: #598392;
        --green: #aec3b0;
}

/*******************************************FONTS************************************************************/
@font-face {
        font-family: 'GeneralSans-Bold';
        src: url('./fonts/GeneralSans-Bold.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
}

@font-face {
        font-family: 'GeneralSans-Medium,';
        src: url('./fonts/GeneralSans-Medium.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
}

@font-face {
        font-family: 'GeneralSans-Light';
        src: url('./fonts/GeneralSans-Light.woff2') format('woff2');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
}